In [1]:
import sql
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'al-quran'
DB_USER = 'postgres'
DB_PASSWORD = '2619'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

postgresql://postgres:2619@127.0.0.1:5432/al-quran

In [3]:
%%sql
CREATE TABLE IF NOT EXISTS arabic (index int PRIMARY KEY,surah int,ayah int, text varchar);
COPY PUBLIC.arabic FROM 'E:\sql/arabic.csv' DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
Done.
6236 rows affected.

[]

In [4]:
%%sql
CREATE TABLE IF NOT EXISTS quran_surah (surah_id int PRIMARY KEY,arabic varchar, latin varchar,english varchar,sajda varchar,ayah int,types varchar);
COPY PUBLIC.quran_surah FROM 'E:\sql/quran_surah.csv' DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
Done.
114 rows affected.

[]

In [5]:
%%sql
CREATE TABLE IF NOT EXISTS translate (index int PRIMARY KEY,surah int, ayah int,th_translate varchar,en_translate varchar,mal_translate varchar,id_translate varchar,kh_translate varchar);
COPY PUBLIC.translate FROM 'E:\sql/translate.csv' DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
Done.
6236 rows affected.

[]

In [6]:
%%sql
ALTER TABLE arabic
ADD CONSTRAINT fk_surah FOREIGN KEY(surah)
REFERENCES quran_surah(surah_id);

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
Done.

[]

In [7]:
narabic = %sql select count(ayah) from arabic;
print("all ayah =", narabic[0][0])

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
1 rows affected.
all ayah = 6236

In [8]:
%%sql
SELECT arabic.surah as surah, quran_surah.latin as latin,count(1)
FROM arabic
JOIN quran_surah ON arabic.surah =  quran_surah.surah_id
GROUP BY arabic.surah,latin
ORDER BY arabic.surah ASC
LIMIT 5

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
5 rows affected.

[(1, 'Al-Fatiha', 7),
 (2, 'Al-Baqara', 286),
 (3, 'Aal-e-Imran', 200),
 (4, 'An-Nisa', 176),
 (5, 'Al-Maeda', 120)]

In [9]:
nsajda = %sql SELECT count(sajda) FROM quran_surah WHERE sajda != '0';
print("all surah sajda =", nsajda[0][0])

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
1 rows affected.
all surah sajda = 14